.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.silkscreen-bold {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');
.iceberg-regular {
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body {
    display: flex;
    box-sizing: border-box;
    background-color: #7e5752;
    font-size: 20px;
    font-family: "Silkscreen", sans-serif;
    margin: 0;
    overflow: hidden;
}
#img_card {
    width: 30vw;
    height: 100vh;
}
img {
    height: 100vh;
    width: 30vw;
    max-width: 100%;
}

#img_text{
    display: flex;
    align-items: center;
    position: absolute;
    color: #f4d35e;
    padding-right: 10px; 
    font-family: 'Iceberg', sans-serif;
    font-size: 25px;
    top: 15vh;
    width: 30vw;
    max-width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.562);

}
#logo{
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 5px;
}
#form_card {
    z-index: 1;
    background-color: #7e5752;
    width: 70vw;
    height: 100vh;
    padding: 50px;
}

#form_info_text{
    color: #cc8342;
    text-align: center;
    max-width: 75%;
    padding: 10px;
    margin: auto 0;
}
#form_info_text h1{
    color: #49252f;
}
#form_container{
    display: flex;
    border: 2px solid black;
    font-size: 20px;
    max-width: 75%;
    height: 300px;
    padding: 10px;
    margin: auto 0;
    gap: 50px;
}

#form_left, #form_right {
    padding: 10px;
    justify-content: space-between;
}

label {
    color: #d0b165;
}
input[type="text"], input[type="email"], input[type="password"], input[type="tel"] {
    display: block;
    padding: 5px;
    width: 300px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}

#submit_button {
    background-color: #f4d35e;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
    width: 200px;
    height: 100px;
}
#submit_button:hover {
    background-color: #e3c14e;
}

#submit_button_container {
    padding: 10px;
  
}

footer {
    font-size: 12px;
    text-align: center;
    color: #49252f;
    position: absolute;
    bottom: 10px;
    width: 100%;
    z-index: 1;
}